.bodyy {
    font-family: 'Sarabun', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url("../../picture/p6.png");
    backdrop-filter: blur(20px);
    text-align: center; /* จัดเนื้อหาใน body ให้อยู่กึ่งกลาง */
    /*padding-top: 100px;*/
}

.card {
    width: 90%; /* เปลี่ยนความกว้างให้เป็นเปอร์เซ็นต์ */
    max-width: 500px; /* สมดุลกับความกว้างสูงสุด */
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.cardbody{
    
    padding: 30px;
}

img {
    width: 180px;
    height: 70px;
}

h4 {
    margin-top: 20px;
}

.clock {
    width: auto;
    background: #999;
    font-size: 28px;
    padding: 10px 50px; /* ปรับพื้นที่ข้างหน้าและข้างหลัง */
    font-family: 'Digital dream Fat'; /* ใส่ quote ที่ปลุกเป็น font family */
    color: cyan;
    text-shadow: 1px 1px 2px teal, 0 0 25px green, 0 0 5px darkturquoise;
}

.formgroup {
    text-align: left;
    padding-top: 5%;
}

.formselect {
    width: 65%;
    margin-left: 21%;
}

.bi.bi-person-fill{
    position: absolute;
    margin-left: 12%;
    /* margin-top: 0.5%; */
    font-size: 2rem;
}

.btngroup{
    margin-left: 29%;
}

.footerdisplay {
    margin-top: 10%;
    /* width: fit-content; */
    background-color: rgb(200, 191, 234);
    text-align: center;
}

/* CSS เพื่อกำหนดสีพื้นหลังของเวลา */
#clock {
    background-color: rgb(213, 212, 245);
    color: rgb(0, 0, 0);
    padding: 5px 10px; /* เพิ่ม padding เพื่อให้เวลามีขอบเขต */
    border-radius: 5px; /* ปรับเพื่อให้มีมุมโค้ง */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}
